<h1>Liste</h1>
<h4>famille - age - race - nourriture</h4>
<ul>

    {% for  list in list %}
            <li> <a href="{{ path ('edit_list', {'id':list.id}) }}">
                    {{list.famille}} -
                    {{list.age}} -
                    {{list.race}} -
                    {{list.nourriture}}</a>
                <a href="{{ path ('delete_list', {'id':list.id}) }}">Supprimer</a></li>
    {% endfor %}
</ul>

<a href="/add">Ajouter à la liste</a>